@import "tailwindcss";

@theme inline {
    --font-sans: var(--font-exo);
    --font-mono: var(--font-exo);
}

@theme {
    --color-foreground: #ededed;
    --color-card:       #16222d;
    --color-page-start: #0f1014;
    --color-page-end:   #191621;
}

@utility no-spinner {
    appearance: textfield;   /* Firefox */
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        appearance: none;
        margin: 0;            /* Chrome reserves a little space even when hidden */
    }
}
