@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-exo);
    --font-mono: var(--font-exo);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

@utility no-spinner {
    appearance: textfield;   /* Firefox */
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        appearance: none;
        margin: 0;            /* Chrome reserves a little space even when hidden */
    }
}

body {
    color: var(--foreground);
    font-family: var(--font-sans), sans-serif;
}